<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <h1>Contact us</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 d-flex flex-column">
      <form [formGroup]="contactForm">
        <app-field-validation [control]="nameControl" [fieldName]="'name'">
          <input type="text" class="form-control" [formControlName]="'name'" appAnimatedLabel="Name">
        </app-field-validation>
        <app-field-validation [control]="emailControl" [fieldName]="'email'">
          <input type="text" class="form-control" formControlName="email" appAnimatedLabel="Email">
        </app-field-validation>
        <app-field-validation [control]="phoneControl" fieldName="phone">
          <input type="text" class="form-control" formControlName="phone" appAnimatedLabel="Phone" appPhoneFormat [formControl]="phoneControl">
        </app-field-validation>
        <app-field-validation [control]="locationControl" fieldName="location">
          <select formControlName="location" class="form-control" appAnimatedLabel="Location" (click)="toggleFocus()" (blur)="setClosed()" [ngClass]="{'open': isSelectOpen}">
            <option value="florida">Erika's House ALF</option>
            <option value="utah">Beehive Homes of Roy</option>
          </select>
        </app-field-validation>
        <app-field-validation [control]="messageControl" fieldName="message">
          <textarea class="form-control" formControlName="message"
                    placeholder="Type your question or request (Required)"></textarea>
        </app-field-validation>
        <button class="btn btn-success" (click)="submitMessage()">Submit</button>
      </form>
    </div>
  </div>
</div>
