@import "mixins";

.color-white {
  color: white;
}

.form-control-wrapper {
  .animated-form-control {
    padding-top: 10px;
  }

  textarea {
    &.animated-form-control {
      padding: 12px 25px 12px 12px;
    }

    + .animated-label {
      top: 25px;

      &.animated {
        display: none;
      }
    }
  }
}

.animated-label {
  cursor: text;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 0;
  @include transform(translate(15px, -50%));
  @include transition(all 200ms);
  @include user-select(none);
  pointer-events: none;
  &.animated {
    font-size: 11px;
    @include transform(translate(5px, -23px));
  }
}

select {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;

  &.open {
    background-image:
      linear-gradient(45deg, white 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, white 50%),
      radial-gradient(gray 70%, transparent 72%);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - .5em) .5em;
    background-size:
      5px 5px,
      5px 5px,
      1.5em 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
  }
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
